* {
  font-family: sans-serif;
  color: #333;
}
html {
  width: 100%;
  background-color: #eee;
}
.top-nav-container {
  background-color: #fab280;
  width: 100%;
  height: 56px;
  position: fixed;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.3) 0 0 10px;
}
.top-nav-container #left-nav-switch {
  height: 56px;
  width: 56px;
  float: left;
}
.top-nav-container #top-nav-title {
  color: white;
  font-size: 125%;
  height: 56px;
  line-height: 56px;
  padding-left: 0;
  float: left;
}
.top-nav-placeholder {
  height: 56px;
  width: 100%;
}
.product-list {
  width: 100%;
  padding: 0 0 10px 0;
}
.product-list .product-grid-item {
  width: 47%;
  margin-left: 2%;
  margin-top: 10px;
  height: 250px;
  background-color: white;
  float: left;
  border-radius: 3px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
}
.product-list .product-grid-item .product-grid-thumbnail {
  border-radius: 3px 3px 0 0;
  width: 100%;
  height: 150px;
  background-color: #e6e6e6;
  background-size: cover;
}
.product-list .product-grid-item .product-grid-thumbnail .thumbnail-count-down {
  background-color: rgba(0, 0, 0, 0.1);
  float: right;
  height: 1.5em;
  line-height: 1.5em;
  width: 4em;
  margin-top: .5em;
  text-align: center;
  color: white;
}
.product-list .product-grid-item .product-grid-intro {
  color: #fab280;
  padding: 5px;
  height: 40px;
}
.product-list .product-grid-item .product-grid-intro .product-grid-brief {
  font-size: 75%;
  color: #777;
}
.product-list .product-grid-item .product-grid-intro .product-grid-count {
  font-size: 75%;
  color: red;
}
.product-list .product-grid-item .product-grid-intro .product-grid-count-text {
  font-size: 75%;
  color: #777;
}
.product-list .product-grid-item .product-grid-actions {
  text-align: center;
  padding-left: 20.5px;
  height: 40px;
}
.product-list .product-grid-item .product-grid-actions div {
  float: left;
  margin: 0 5px;
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px;
  width: 40px;
  height: 40px;
}
